.contact-form
  label
    display: block
    font-family: "proximaNova", sans-serif
    &.has-error
      input
        color: red
        border-color: red
        &::placeholder
          color: red!important
  input
    width: 100%
    line-height: 1
    color: #9c9c9c
    padding: 14px 12px 14px 26px
    border: 1px solid #d2d2d2
    border-radius: 5px
    &::placeholder
      color: #9c9c9c
  .help-block
    display: none
  .btn.disabled
    filter: grayscale(.7)
    box-shadow: none

.line-form
  background-color: #fff
  padding: 30px 55px
  border-radius: 10px
  display: table
  width: 100%
  box-shadow: 0 13px 49px rgba(#000, .5)
  .form-text
    width: 310px
    display: table-cell
    text-align: left
    line-height: 1.2
  .form-labels-wrap
    vertical-align: middle
    display: table-cell
    padding-left: 30px
  .add-wrap
    display: flex
  label
    margin-right: 7px
    width: 200px
  input
    background-color: #e5e5e5
  .btn
    width: 265px
    height: 50px

.s-form
  .line-form
    padding: 30px
  .form-labels-wrap
    padding-left: 0
    display: flex
    justify-content: center
  label
    margin-bottom: 0


.body-form
  .form-text
    font-size: 22px
    color: #323232
    span
      font-weight: 500
  .btn
    span
      color: #000

.teacher-form
  padding: 35px 60px 50px
  max-width: 600px
  margin-left: auto
  margin-right: auto
  border: 2px solid #c3c3c3
  border-radius: 15px
  text-align: center
  box-shadow: 5px 5px 35px 2px rgba(#000, .5)
  background-color: #fff
  input
    background-color: #e5e5e5
  label
    margin-bottom: 15px
  .btn
    padding: 15px 30px
    width: 100%
  h3
    font-weight: 500
    span
      display: block
      font-weight: 700
      font-size: 22px
      color: $accent-blue
      margin-bottom: 30px


.blue-form
  background-color: $accent-blue
  border: 22px solid $accent-blue
  border-radius: 15px
  .form-content
    border-radius: 15px
    background-color: #3ca1e4
    padding: 25px 35px 30px
    color: #fff
  .form-text
    font-weight: 500
    font-size: 18px
    text-align: center
    margin-bottom: 30px
    span
      color: #fff36c
  label
    margin-bottom: 15px
    max-width: 290px
    margin-left: auto
    margin-right: auto
  .btn
    padding: 17px
    width: 290px
    display: block
    margin-left: auto
    margin-right: auto
  .agreement
    position: absolute
    z-index: -1
    opacity: 0
    width: 17px
    height: 17px
    top: 0
    left: 0

#agreement-label
  z-index: 2
  padding-left: 27px
  position: relative
  cursor: pointer
  &:before
    content: ''
    position: absolute
    width: 13px
    height: 13px
    border-radius: 3px
    background-color: #fff
    left: 3px
    top: 5px
    cursor: pointer
    border: 1px solid transparent
  &:after
    content: ''
    position: absolute
    width: 18px
    height: 18px
    +bg-cover
    background-image: url('../img/icons/check-angle.png')
    left: 2px
    top: 2px
    transform: scale(.7)
    opacity: 0
    +mt(.3s)
  &.checked
    &:after
      transform: scale(1)
      opacity: 1
  &.has-error
    &:before
      border-color: red
