@import vars


/*==========  Desktop First  ==========*/

@media screen and (max-width: 1600px)
  .course-item-title
    margin-top: 110px


// ≥1200px
+media-breakpoint-down(lg)

  .about-images
    height: 402px
  .about-img-item
    width: 200px
    height: 198.45px
    &:first-child
      width: 243px
      height: 401px
      img
        width: 243px
    &:nth-child(2)
      margin-bottom: 5px
  .about-img-item
    img
      left: -80px

  .about-main-desc
    padding: 0


  .courses-wrap
    padding-left: 12.5px
    padding-right: 12.5px

  .course-item
    font-size: 16px
    padding-left: 40px
    &-title
      &:before
        width: 16px
        left: -40px
        top: 9px
      &:after
        top: 6px
    &:hover
      .course-item-title
        &:before
          left: -40px
          width: 16px
          background-color: #706f71
        &:after
          left: -20px


  .line-form
    display: block
    .form-labels-wrap
      padding-left: 0
      display: block
      label
        flex-grow: 1
    .form-text
      width: 100%
      display: block
      text-align: center
      margin-bottom: 15px

  .top-contacts-wrap
    margin-left: 0
    justify-content: center

  .main-mnu
    margin-top: 15px
    li
      margin-right: 45px

  .top-line
    .container
      flex-direction: column

  .logo
    margin-bottom: 30px

// ≥992px
+media-breakpoint-down(md)

  .checks-wrap
    flex-wrap: wrap

  .check-item
    width: 33%

  .about-main-desc
    margin-bottom: 30px
    .section-title
      text-align: center

  .section-title.no-dots
    h2
      &:before, &:after
        display: block

  .about-images
    flex-flow: column wrap
    height: 496px
    max-width: 555px
    margin-left: auto
    margin-right: auto
  .about-img-item
    width: 247px
    height: 245px
    &:first-child
      width: 300px
      height: 496px
      img
        left: 0
        width: 300px
    &:nth-child(2)
      margin-bottom: 5px

  .s-padding
    padding: 50px 0 60px

  .section-title
    h2
      font-size: 30px

  .courses-wrap
    margin-top: 40px

  .course-item
    width: calc(33.333% - 5px)

  .s-intro
    h1
      font-size: 34px
    h2
      font-size: 22px

  .top-line
    padding-bottom: 20px

  .top-contacts-wrap
    .top-addr
      width: 50%
      margin-left: 40px
  .top-phones
    a
      margin-bottom: 5px
      &:last-child
        margin-bottom: 0


// ≥768px
+media-breakpoint-down(sm)

  .check-item
    width: 50%

  .about-images
    max-width: 100%
    align-items: center
    margin-top: 40px
  .about-img-item
    display: none
    &:first-child
      display: block
      width: auto
      height: auto
      transform: scaleY(1.1)

  .section-title
    h2
      &:before
        top: auto
        bottom: -20px
        left: calc(50% - 7px)
      &:after
        top: auto
        bottom: -20px
        right: calc(50% - 7px)

  .course-item
    width: calc(50% - 5px)

  .s-intro
    h1
      font-size: 28px
    h2
      font-size: 18px

  .line-form
    .form-text
      font-size: 18px
    .add-wrap
      flex-direction: column
    label
      width: 100%
      margin-bottom: 15px
    .btn
      width: 100%
      margin-bottom: 40px

  .top-contacts-wrap .top-addr
    max-width: 100%
    width: auto

  .top-contacts-wrap
    display: flex
    flex-direction: column
    align-items: center

  .top-phones
    margin-left: 0
    margin-top: 30px


// ≥480px
+media-breakpoint-down(xs)

  .check-item
    width: 100%

  .section-title
    h2
      font-size: 24px

  .course-item
    width: 100%
    margin-right: 0
    margin-left: 0
    padding-left: 60px
    &-title
      margin-top: 130px
      &:before
        left: -60px
        width: 36px
    &:hover
      .course-item-title
        &:before
          width: 36px
          left: -60px

  .btn
    span
      display: none

  .s-intro
    padding-top: 75px

  .line-form
    padding-left: 30px
    padding-right: 30px
    .btn
      margin-bottom: 15px
    .form-text
      font-size: 16px

  .top-line
    padding-bottom: 0

  .top-contacts-wrap
    width: 100%
    .top-addr
      margin-left: 0

  .top-addr
    text-align: center
    width: 100%
    margin-left: 0
    margin-top: 50px
    &:before
      left: calc(50% - 17px)
      top: -50px
  .top-phones
    padding-top: 70px
    padding-bottom: 20px
    color: #fff
    background-color: $accent-blue
    width: 100%
    text-align: center
    position: relative
    z-index: 2
    &:before
      left: calc(50% - 17px)
      top: 15px
      border-color: #fff
    &:after
      content: ''
      width: calc(100% + 30px)
      height: 100%
      background-color: $accent-blue
      position: absolute
      top: 0
      left: -15px
      z-index: -1
      box-shadow: 0 9px rgba($accent-blue, .6), 0 18px rgba($accent-blue, .4)
    a
      display: block
      margin-left: 0
      margin-bottom: 15px
  .logo
    margin-bottom: 25px
    width: 100%


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
